<!DOCTYPE html>
<html>
  <head>

    <meta property="og:title" content="Open Street Table" />
    <meta property="og:image" content="./app/assets/images/open_table.png" />
    <meta property="og:description" content="a game created using HTML5/CSS3 and JavaScript" />
    <meta property="og:url" content="https://github.com/alvinc90/Open-Street-Table />

    <title>OpenStreetTable</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script type="text/javascript">
      window.brentURL = "<%= image_url('ost.png') %>"
      window.foodURL = "<%= image_url('food.jpg') %>"
      window.nyURL = "<%= image_url('new_york.jpg') %>"
      window.laURL = "<%= image_url('los_angeles.jpg') %>"
      window.chicagoURL = "<%= image_url('chicago.jpg') %>"
      window.diningURL = "<%= image_url('dining.jpg') %>"
      window.sfURL = "<%= image_url('san_francisco.jpg') %>"
      window.liURL = "<%= image_url('linkedin_logo.jpg') %>"
      window.gitURL = "<%= image_url('github-_logo.jpg') %>"
    </script>
    
    <% if current_user %>
      <script>
        window.currentUserId = <%= current_user.id %>
        window.currentUser = {
            "id": <%= current_user.id %>, 
            "username": "<%= current_user.username  %>",
            "email": "<%= current_user.email %>"
        }
      </script>
    <% end %>

    <link href="https://fonts.googleapis.com/css2?family=Commissioner:wght@500&display=swap" rel="stylesheet">

      </head>

  <body>
    <%= yield %>
  </body>
</html>